body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.header-box-bg{
    padding: 0 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.container{
    height: 100%;
}
.header_content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text {
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.188px;
}
.header_text{
    color: #FFF;
    font-weight: 400;
    letter-spacing: 6px;
}
.title {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2.306px;
}
.header_title{
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
}
.header_subtitle{
    margin-bottom: 70px;
    color: #FFF;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 3.7px;
}
.bg{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}